<div>
    <div class="container">
        <img src="https://i.imgur.com/uZWAsAt.jpg" alt="">  
        <h1>Instrument Logs</h1>  
    </div>
    <form method="post" action="/login">
        <div class="container form-group">
            <div id="login-row" class="row justify-content-center align-items-center form-group">
                <div class="form-group">
                    <input type="text" name="email" id="username" class="form-control" placeholder="Username/Email">
                </div>
            </div>
            <div id="login-row" class="row justify-content-center align-items-center form-group">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div id="login-row" class="row justify-content-center align-items-center form-group">

            </div>
            <div class="submit">
                    <input type="submit" name="submit" class="btn btn-info btn-md" value=" Log In ">
            </div>
        </div> 
    </form>

        <div class="signup">
            <a href="/signup"><input  size="5" type="submit" name="submit" class="btn btn-info btn-md" value="Register"></a>
        </div>

</div>

