


  <div class="logoutbutton">
      <a href="/logout" class="btn btn-warning btn-sm">Logout</a>
      <a href="/instruments/editprofile" class="btn btn-warning btn-sm">Delete/Edit Profile</a>
  </div>
<div id="profile1header">
  <header><img src="https://i.imgur.com/eYjy3Ov.jpg" alt=""></header>
  <h1 class="header">Instrument Assay Log</h1> 
</div>

<br />
<br /> 
<div id="profile1">
  <button class="btn btn-info btn-md " data-toggle="modal" data-target="#myModal" type="button" aria-haspopup="true" aria-expanded="false">
            Add New Device
  </button>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">    
          <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Adding New Device</h4>
        </div>
        <div class="modal-body">
            <form method="post" action="/devices">    
              <input class="form-control" type="text" name="name" id="name" placeholder="Name of Device">
              <input type="submit" name="submit" class="btn btn-info btn-sm" value="Add">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>    
    </div>
  </div>
  <br />
  <br />

  <div class="dropdown">
    <button class="btn btn-info btn-md dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Instrument
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% for (let i=devices.length-1; i>=0; i--) { %>
      <a class="dropdown-item" href="/devices/<%= devices[i].id %>"><%= devices[i].name %></a>
      <% } %>
    </div>
  </div>
</div>