body {
    margin-top:30px;
    margin-left:10px;
}
.container {
    margin-top:100px;
    text-align: center;
}

.row {
    text-align: center;
}
h1 {
    font-style: italic;
}

.signup {
    margin-top:20px;
    text-align: center;
    
}
.submit {
    margin-top:10px;
}

#submitbutton {
    margin-top:10px;
}

.tableDiv {
   margin-left:10%;
   margin-top: 10%;
}

.tableDiv > .table > .thead-light > tr > th {
    text-align: center;
}
.logoutbutton {
    margin-top:-20px;
    margin-bottom:30px;
}
.editprofiledeleteuser {
    text-align:center;
}

.header {
    text-align:center; 
    font-family:sans-serif;
    font-size: 60px;
}