.container {
    margin-top:100px;
    text-align: center;
}

.row {
    text-align: center;
}
h1 {
    font-style: italic;
}

.signup {
    margin-top:20px;
}
.submit {
    margin-top:10px;
}

#submitbutton {
    margin-top:10px;
}
